body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000000;
}
#circle {
  position: absolute;
}
.circle {
  position: absolute;
  top: 20px;
  left: -20px;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
